<header>
    <div class="container">
       <div class= logo>
           <!--<img src="/assets/smiling-baby.png">-->
           <h1><a href="/children/intro"><img style="height:50px;" src="/assets/logo.png"></img></a></h1>
       </div>
       <div>
         <ul>
           <li><a href="/kindergardens/search">어린이집 정보</a></li>
            <li><a href="/children/explaination">소개</a></li>
            
            <% if user_signed_in? %>
            <li>
                <div class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                      <% if current_user.usertype == "parent" %>
                          <%= current_user.username %> 학부모 님
                      <% else %>
                          <%= current_user.username %> 선생님
                      <% end %>
                  </a>
                  <% if user_signed_in? %>
                    
                    <% if current_user.usertype == "parent" %>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        
                        <!-- 등록 아이가 있다면 -->
                        <% chd = Child.find_by_parent_id(current_user.id) %>
                        <% if chd != nil %>
                          <a class="dropdown-item" href="/children/show/<%=chd.id%>">내아이 정보</a>
                        <!-- 등록 아이가  없다면 -->
                        <% else %>
                          <a class="dropdown-item" href="/children/search">내아이 등록</a>
                        <% end %>
                        <a class="dropdown-item" href="/children/search">내아이 검색</a>
                        <a class="dropdown-item" href="/receipts/index">신청현황</a>
                        <%= link_to "로그아웃", destroy_user_session_path, :class => "dropdown-item" %>
                      </div>
                      
                      <% else %>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/children/index">아이들 정보</a>
                        <a class="dropdown-item" href="/receipts/index">신청현황</a>
                        <%= link_to "로그아웃", destroy_user_session_path, :class => "dropdown-item" %>
                      </div>
                      <% end %>
                    <% end %>  
                </div>
            </li>
            <% else %>
              <li><%= link_to "로그인", new_user_session_path %></li>
              <li><%= link_to "회원가입", new_user_registration_path %></li>
            <% end %>
          </ul>
       </div>
    </div>
  </header>